= form_for [@room.inn, @room, @comment], remote: true do |f|
  .form-group
    = f.text_area :text,  placeholder: 'Пожалуйста, оставьте отзыв, ваш емайл не будет указан', class: "form-control", style: "height:100px;"
  .form-group
    = f.submit 'Сохранить',  class: 'btn btn-primary'